import  { h } from 'react'
import PropTypes from 'prop-types'
import styled from 'styled-components'

const {{properCase name}}Container = styled.div``

const {{properCase name}} = (props) => {
    return (
        <{{properCase name}}Container>
            <div>{{properCase name}}</div>
        </{{properCase name}}Container>
    )
}

{{properCase name}}.defaultProps = {}
{{properCase name}}.propTypes = {}

export default {{properCase name}}

